.login-form {
    width: 340px;
    margin: 50px auto;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}

body {
    /*background-image: url(../img/foto3.jpg);*/
    background-size: cover;
    opacity: 0.95;
    margin: auto;
    width: 90%;	   /* background-repeat: no-repeat;*/
}

.conta{
    width: 700px;
    margin:auto;
    border: 5px solid #c9c9c9;
    padding: 30px 50px 60px;
    background: #fff;
    border-radius: 7px;
    margin-top: 100px;
}

.btn{
    font-size: 120%;
    background: #0f6674;
    color: white;
}